# Python
__pycache__/
*.py[codz]
*$py.class
*.so
*.egg-info/
dist/
build/

# Virtual Environment
venv/
env/
ENV/

# Project files
downloads/
.env
*.pyc

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Cache
.ruff_cache/
.pytest_cache/
.mypy_cache/

# Temporary files
tempCodeRunnerFile.py
.abstra/

# Other
.pypirc
.streamlit/secrets.toml
